
:root {
	--background: rgb(255, 255, 255);
	--accent: rgb(239, 35, 60);
	--accent-dark: rgb(217, 4, 41);
	--accent-gradient: var(--accent), var(--accent-dark);
	--black: rgb(15, 18, 25);
	--gray: rgb(141, 153, 174);
	--gray-light: rgb(237, 242, 244);
	--gray-dark: rgb(43, 45, 66);
	--gray-gradient: var(--accent), var(--black);
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

}


html {
	position: relative;
	min-height: 100%;
}

body {
	/* Remove this */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(100, 51, 51, 0.6) 86%, rgba(51, 51, 51, 0.8) 100%), 
	url('/blog-placeholder-about.jpg'); 
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	margin-bottom: 10em;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background: var(--background);
	color: var(--gray-dark);
}

main {
	width: 1000px; 
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent-dark);
}
p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	color: var(--black);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--gray-light);
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

